.container1{
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: aquamarine;
    margin-bottom: 20px;
}
.container1 > div{
background-color: rgb(255, 255, 255);
width: 100px;
margin: 15px;
text-align: center;
  line-height: 75px;
  font-size: 30px;
}
.container2{
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: rgb(127, 182, 255);
}
.container2  > div{
background-color: rgb(255, 255, 255);
width: 100px;
margin: 15px;
text-align: center;
  line-height: 75px;
  font-size: 30px;
}
h2 {text-align: center;}